{% extends 'base.html' %}
{% block content %}
<h2> {{ curso.nombre }}</h2>

<a href="{% url 'profesor:profesor_clase_crear' curso.id %}" class="btn btn-primary">
   Nueva clase
</a>


<hr>

<ul>
  {% for clase in clases %}
    <li>
      {{ clase.titulo }}

      <a href="{% url 'profesor:profesor_clase_editar' clase.id %}" class="btn btn-secondary m-2 btn-sm">
         Editar
      </a>

      <a href="{% url 'profesor:cuestionarios' clase.id %}" class="btn btn-secondary m-2 btn-sm">
         Cuestionarios
      </a>
    </li>
  {% empty %}
    <li>No hay clases cargadas todavía.</li>
  {% endfor %}
</ul>

<a href="{% url 'cursos_profesor' %}" class="btn btn-secondary">
   Volver
</a>
{% endblock %}